<% include partials/header %>

<h2>Gezi Resimleri</h2>

<% geziler.forEach(function(gezi){ %>
<div>
    <h4><%= gezi.name %></h4>
    <img src="<%= gezi.image %>" alt="">
</div>
<% }); %>

<% include partials/footer %>