<% include partials/header %>

<h2>Yeni gezi oluştur.</h2>
<form action="/travels" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image">
    <button>Gönder</button>
</form>

<% include partials/footer %>