* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.image-size img {
    height: 300px;
    width: 100%;
}


.card-more p {
    width: 1.5rem;
}

.card-size {
    height: 1.2rem;
}

.btn-sizing {
    width: 40px;
}

section {
    margin: 70px auto;
}

.hr-jum {
    margin-top: 80px;
}