<% include ../partials/header %>

<div class="container">
    <h2>Gezi Resimleri</h2>

    <% travels.forEach(function(travel){ %>
    <div>
        <h4><%= travel.name %></h4>
        <img src="<%= travel.image %>" alt="">
    </div>
    <a href="/travels/<%= travel._id %>">More info</a>
    <% }); %>

</div>

<% include ../partials/footer %>