<% include ../partials/header %>


<div class="container">
    <div class="row text-center image-size ">
        <% travels.forEach(function(travel){ %>
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card">
                <img src="<%= travel.image %>">

                <div class="card-header my-2">
                    <h4><%= travel.name %></h4>
                </div>
                <div class="row mb-3">
                    <div class="col-12 text-truncate">
                        <%= travel.description %>
                    </div>
                </div>
                <div>
                    <p>
                        <a type="button" href="/travels/<%= travel._id %>" class="btn btn-dark card-more">More Info</a>
                    </p>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>