<% include ../partials/header %>

<form style=" width: 50vh; margin: 7% auto; display: block;" action="/travels" method="POST">
    <h1 style="text-align: center">Yeni gezi paylaş</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Başlık</label>
        <input class="form-control" type="text" name="name" placeholder="başlık">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Bir resim adresi giriniz</label>
        <input class="form-control" type="text" name="image" placeholder="resim-url">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Açıklama</label>
        <textarea class="form-control" type="text" name="description" placeholder="açıklama" rows="4"
            cols="50"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" style="margin-top:50px">Gönder</button>
    </div>
</form>

<% include ../partials/footer %>