<% include ../partials/header %>

<div class="container">
    <h2>Yeni gezi oluştur.</h2>
    <form action="/travels" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="image">
        <input type="text" name="description" placeholder="description">
        <button>Gönder</button>
    </form>
</div>

<% include ../partials/footer %>